.contact {
  @extend .technology;
  min-height: 100vh;
  // margin: $s-size;
}

.contact__wrapper {
  @extend .technology__wrapper;
  min-height: 50vh;
}

.contact__list {
  @extend .technology__list;
}

.contact__item {
  @extend .technology__item;

}

.contact__link {
  color: $white;
  display: block;
  font-size: $font-size-title;
  letter-spacing: .17rem;
  padding: $m-size;
  margin: 0 auto;
  text-decoration: none;
  text-transform: lowercase;
  width: 30rem;
}

.contact__icon {
  @extend .technology__icon;
  width: 100%;
}

.contact__icon-text {
  color: $white;
  font-size: $font-size-text;
}