.header {
   @include flexbox(center, flex-end);
   flex-basis: 100%;
   flex-direction: column;
   min-height: 100vh;
   margin: 0 $s-size $s-size $s-size;

   @media (min-width: $tablet-breakpoint) {
      margin: $l-size $m-size;
   }
}

.header__content--name {
   @media (min-width: $tablet-breakpoint) {
      margin-right: auto;
      padding: 0 $xxl-size 0 $xxl-size - 10rem;
   }
}

.header__content--title {
   @media (min-width: $tablet-breakpoint) {
      margin-right: auto;
      padding: 0 $xxl-size $xl-size;
   }
}