.intro {
   @include flexbox(center, space-around);
   margin: 0 $s-size $s-size $s-size;

   @media (min-width: $desktop-breakpoint) {
      margin: $l-size $m-size;
   }
}

.intro__container {
   flex-basis: 100%;

   @media (min-width: $desktop-breakpoint) {
      flex-basis: 60%;
   }
}

.intro__content {
   @include flexbox(center, center);
   align-content: center;
   flex-basis: 100%;
   min-height: 100vh;
   min-width: 32rem;

   @media (min-width: $desktop-breakpoint) {
      @include flexbox(center, flex-start);
      flex-basis: 60%;
   }
}

.intro__photo {
   // flex-basis: 100%;
   // justify-self: center;

   background: url('../images/avatar.jpg') no-repeat top center;
   background-size: cover;
   border: 2px solid transparent;
   border-radius: 50%;
   margin: $m-size 0;
   width: 20rem;
   height: 20rem;

   // @media (min-width: $desktop-breakpoint) {}
}

.intro__header {
   flex-basis: 55%;

   @media (min-width: $desktop-breakpoint) {
      flex-basis: 35%;
   }
}

.intro__list {
   @include flexbox(flex-start, center);
   flex-basis: 100%;
   list-style: none;
   margin: $m-size 0;
   padding: 0;
}

.intro__item {
   flex-basis: 100%;
   margin: $m-size;

   @media (min-width: $tablet-breakpoint) {
      flex-basis: 25%;
   }
}

.intro__item--link {
   border: 2px solid $white;

   @media (min-width: $tablet-breakpoint) {
      flex-basis: 70%;
   }
}

.intro__icon {
   font-size: $font-size-xxl;

   &--link {
      margin: $m-size 0;
      flex-basis: 100%;
   }
}

.intro__link {
   @include flexbox(flex-start, center);
   color: $white;
   padding: $m-size;
   text-decoration: none;
   transition: .2s;

   @media (min-width: $tablet-breakpoint) {
      &:hover {
         color: $transparent-black;
         background-color: $white;

      }
   }
}