@mixin imgBackground ($project, $pos1: center, $pos2: center) {
   &--#{$project}1 {
      background: url('../images/#{$project}1.jpg') no-repeat $pos1 $pos2;
      background-size: cover;
   }

   &--#{$project}2 {
      background: url('../images/#{$project}2.jpg') no-repeat $pos1 $pos2;
      background-size: cover;
      display: none;

      @media (min-width: $tablet-breakpoint) {
         display: block
      }
   }
}

.projects {
   @include flexbox(center, space-around);
   flex-basis: 100%;
   margin: 0 $s-size $s-size $s-size;

   @media (min-width: $tablet-breakpoint) {
      margin: $l-size $m-size;
      padding-top: $xl-size;
   }
}

.projects__wrapper {
   flex-basis: 100%;
   min-height: 100vh;
   min-width: 30rem;

   @media (min-width: $desktop-breakpoint) {
      flex-basis: 60%;
   }
}

.projects__title {
   padding-bottom: $m-size;

}

.projects__list {
   padding: 0;
}

.projects__project {
   @include flexbox(baseline, space-between);
   border-bottom: 1px solid $white;
   margin: $s-size;

   &:last-child {
      border-bottom: none;
   }

   @media (min-width: $desktop-breakpoint) {
      padding-bottom: $xl-size;
   }
}

.projects__text {
   & strong {
      color: $secondary-color;

      &::selection {
         background: $white;
      }
   }
}


.projects__subtitle {
   flex-basis: 70%;
   font-weight: 700;

   &:nth-child(2) {
      flex-basis: 30%;
      text-align: right;
   }
}

.projects__project-details {
   color: $white;
   flex-basis: 100%;
   min-height: 20rem;
}

.projects__images {
   @include flexbox(center, space-evenly);
}

.projects__img {
   border: 2px solid $white;
   height: 20rem;
   margin: $m-size;
   width: 27rem;


   @media (min-width: $tablet-breakpoint) {
      width: 45rem;
      height: 27rem;
   }

   @include imgBackground(HSP, top);
   @include imgBackground(battleships);
   @include imgBackground(bootstrap);
   @include imgBackground(rps);
   @include imgBackground(tasks, top);
   @include imgBackground(wedding, top);
}

.projects__links {
   @include flexbox(center, space-evenly);
   margin: $m-size;
}

.projects__link {
   flex-basis: 100%;
   margin-top: $m-size;

   @media (min-width: $tablet-breakpoint) {
      flex-basis: 35rem;
      margin: $m-size;
   }
}