.projects {
   @include flexbox(center, space-evenly);
   margin: $s-size $s-size 0 $s-size;
   flex-basis: 100%;

   @media (min-width: $tablet-breakpoint) {
      padding: $m-size;
   }
}

.projects__container {
   flex-basis: 100%;
   padding: 0;
   position: relative;

   @media (min-width: $desktop-breakpoint) {
      flex-basis: 45%;
   }
}

.projects__background {
   @include flexbox(center, space-evenly);
   height: 100%;
   left: 0;
   min-height: 55rem;
   padding: $l-size;
   position: relative;
   top: 0;
   width: 100%;

   @media (min-width: $desktop-breakpoint) {
      transition: .5s;
   }
}

.projects__header {
   flex-basis: 55%;

   @media (min-width: $desktop-breakpoint) {
      transition: .2s;
   }
}

.projects__text {
   flex-basis: 100%;

   @media (min-width: $desktop-breakpoint) {
      transition: .2s;
   }
}

.projects__link {
   flex-basis: 90%;
   margin: $m-size;

   @media (min-width: $desktop-breakpoint) {
      flex-basis: 35%;
      transition: .2s;
   }
}

.project-A {
   background: url('../images/thumb1.jpg') no-repeat top;
   background-size: cover;
   position: relative;

   @include project-hover()
}

.project-B {
   background: url('../images/thumb2.jpg') no-repeat top;
   background-size: cover;
   position: relative;

   @include project-hover()
}

.project-C {
   background: url('../images/thumb3.jpg') no-repeat center;
   background-size: cover;
   position: relative;

   @include project-hover()
}

.project-D {
   background: url('../images/thumb4.jpg') no-repeat top;
   background-size: cover;
   position: relative;

   @include project-hover()
}

.project-E {
   background: url('../images/thumb5.jpg') no-repeat top;
   background-size: cover;
   position: relative;

   @include project-hover()
}