.button {
   border: 2px solid $white;
   border-radius: 15px;
   color: $white;
   font-size: $font-size-l;
   padding: $l-size;
   text-decoration: none;
   width: 20rem;

   @media (min-width: $desktop-breakpoint) {
      &:hover {
         color: $transparent-black;
         background-color: $white;
      }
   }

}