.nav-arrow {
  display: block;
  color: $white;
  border: 2px solid $secondary-color;
  // @include basicBoxStyle();

  bottom: 10px;
  font-size: $font-size-subtitle;
  opacity: 0;
  padding: $s-size;
  position: fixed;
  right: 10px;
  transition: opacity .3s;

  @media (min-width: $tablet-breakpoint) {
    &:hover {
      border: 2px solid $white;
      color: $secondary-color;
    }
  }

}