.nav-arrow {
  background-color: $black;
  border: 1px solid $secondary-color;
  bottom: 10px;
  color: $white;
  display: block;
  font-size: $font-size-subtitle;
  opacity: 0;
  padding: $s-size;
  position: fixed;
  right: 10px;
  transition: all .3s cubic-bezier(0.05, 1.04, 0.72, 0.98);

  @media (min-width: $tablet-breakpoint) {
    &:hover {
      border: 1px solid $white;
      color: $secondary-color;
    }
  }
}