.subtitle {
   font-size: $font-size-subtitle;
   letter-spacing: .4rem;
   color: $white;
   margin: $m-size 0;
   width: 100%;

   &--main {
      font-size: $font-size-subheader;
   }

   &::first-letter {
      color: $secondary-color;
   }

   @media (min-width: $tablet-breakpoint) {
      font-size: $font-size-subtitle--desktop;

      &--main {
         font-size: $font-size-subheader--desktop;
      }
   }
}