.text {
   font-size: $font-size-text;
   color: $white;
   letter-spacing: .16rem;
   line-height: 1.3;
   margin: $m-size 0 0 0;
   text-align: center;

   @media (min-width: $tablet-breakpoint) {
      font-size: $font-size-text--desktop;
      text-align: left;
   }

   &::first-letter {
      color: $secondary-color;
      font-size: $font-size-subtitle;
      text-transform: uppercase;

      @media (min-width: $tablet-breakpoint) {
         font-size: $font-size-title;
      }
   }

   &--plain {
      &::first-letter {
         color: inherit;
         font-size: inherit;
         text-transform: uppercase;
      }
   }
}