* {
  box-sizing: border-box;
}

::selection {
  background: #bf5f82;
}

html {
  font-size: 62.5%;
}

body {

  font-family: 'Source Sans Pro', sans-serif;
  background: url('../images/bg3.jpg') no-repeat top right fixed;

  // background-color: $white;
  background-size: cover;
  scroll-behavior: smooth;
}