@font-face {
   font-family: 'Montserrat';
   src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
   font-family: 'Special Elite';
   src: url('../fonts/SpecialElite-Regular.ttf') format('truetype');
}