@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Special Elite';
  src: url("../fonts/SpecialElite-Regular.ttf") format("truetype"); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, sans-serif; }

html {
  font-size: 62.5%; }

::selection {
  background: #ccc; }

.wrapper {
  display: flex;
  flex-wrap: wrap;
  background: url("../images/bg3.jpg") no-repeat left fixed;
  background-size: cover;
  overflow: hidden; }

.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  padding: 0 3rem; }
  .intro__name {
    box-shadow: 0 0 6px 3px white;
    background-color: rgba(20, 20, 20, 0.95);
    color: #efe8e8;
    flex-basis: 100%;
    padding: 1.5rem;
    box-shadow: none;
    text-align: center;
    text-transform: uppercase; }
    .intro__name__header {
      margin-bottom: 1rem;
      font-size: 3rem;
      letter-spacing: .5rem; }
    .intro__name__title {
      font-size: 1.8rem;
      letter-spacing: .2rem; }
  .intro__about, .intro__skillSet, .intro__contact {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 6px 3px white;
    background-color: rgba(20, 20, 20, 0.95);
    color: #efe8e8;
    flex-basis: 65%;
    padding: 2rem 7rem 3rem 7rem;
    margin: .9rem 0;
    text-align: center;
    letter-spacing: .17rem; }
  .intro__about {
    flex-direction: column; }
    .intro__about__image {
      margin: 0 auto;
      width: 25rem; }
    .intro__about__text {
      margin-top: 3rem;
      font-size: 1.9rem;
      line-height: 1.4; }
  .intro__about__header, .intro__skillSet__header, .intro__contact__header {
    padding: 3rem 0 2rem 0;
    margin: 0 auto;
    border-bottom: 1px solid #efe8e8;
    width: 50%;
    font-size: 3.3rem;
    color: #efe8e8; }
  .intro__skillSet {
    flex-direction: column;
    align-items: center; }
    .intro__skillSet__subheader {
      margin-top: 3rem;
      font-size: 2.5rem; }
    .intro__skillSet__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 4rem;
      list-style: none; }
    .intro__skillSet__item {
      flex-basis: 20rem; }
    .intro__skillSet__icon {
      font-size: 7rem; }
    .intro__skillSet__text {
      padding: 2rem;
      font-size: 1.9rem;
      line-height: 1.4; }
  .intro__contact {
    flex-direction: column; }
    .intro__contact__list {
      margin: 4rem auto 0 auto;
      list-style: none; }
    .intro__contact__link {
      margin-bottom: 2rem;
      font-size: 1.9rem;
      color: #efe8e8;
      text-decoration: none;
      transition: .3s; }
      .intro__contact__link:hover {
        color: white; }
    .intro__contact__item {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem; }
    .intro__contact__icon {
      font-size: 7rem; }

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-basis: 100vw;
  padding: 3rem; }
  .portfolio__header {
    flex-basis: 100%;
    font-size: 3rem;
    letter-spacing: .5rem;
    color: #efe8e8;
    padding: 3rem;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(20, 20, 20, 0.95); }
  .portfolio__project {
    box-shadow: 0 0 6px 3px white;
    background-color: rgba(20, 20, 20, 0.95);
    color: #efe8e8;
    position: relative;
    min-width: 30rem;
    flex-basis: 45%;
    height: 50rem;
    margin: 3rem;
    border: none;
    text-align: center; }
    .portfolio__project__A {
      background: url("../images/thumb1.jpg") no-repeat top;
      background-size: cover; }
    .portfolio__project__B {
      background: url("../images/thumb2.jpg") no-repeat top;
      background-size: cover; }
    .portfolio__project__C {
      background: url("../images/thumb3.jpg") no-repeat center;
      background-size: cover; }
    .portfolio__project__D {
      background: url("../images/thumb4.jpg") no-repeat top;
      background-size: cover; }
    .portfolio__project__E {
      background: url("../images/thumb5.jpg") no-repeat top;
      background-size: cover; }
    .portfolio__project__F {
      background: url("../images/thumb6.jpg") no-repeat top;
      background-size: cover; }
    .portfolio__project__background {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      position: absolute;
      width: 100%;
      height: 100%; }
    .portfolio__project__header {
      font-family: 'Special Elite', 'Monserrat', sans-serif;
      font-size: 4rem;
      color: #efe8e8;
      text-align: center; }
    .portfolio__project__text {
      flex-basis: 75%;
      font-family: 'Special Elite', 'Monserrat', sans-serif;
      font-size: 2.5rem;
      color: #efe8e8; }
    .portfolio__project__previewLink, .portfolio__project__codeLink {
      display: block;
      flex-basis: 35%;
      padding: 2.5rem 4rem;
      border: 2px solid #efe8e8;
      background-color: transparent;
      font-family: 'Special Elite', 'Monserrat', sans-serif;
      font-size: 2.7rem;
      text-transform: lowercase;
      letter-spacing: .4rem;
      color: #efe8e8;
      text-decoration: none; }

@media (min-width: 850px) {
  .portfolio__project__background {
    transition: .5s; }
  .portfolio__project:hover .portfolio__project__background {
    background-color: rgba(20, 20, 20, 0.95); }
  .portfolio__project:hover .portfolio__project__header,
  .portfolio__project:hover .portfolio__project__text,
  .portfolio__project:hover .portfolio__project__previewLink,
  .portfolio__project:hover .portfolio__project__codeLink {
    opacity: 1; }
  .portfolio__project__header {
    transition: .7s;
    opacity: 0; }
  .portfolio__project__text {
    transition: .7s;
    opacity: 0; }
  .portfolio__project__previewLink, .portfolio__project__codeLink {
    transition: .7s;
    opacity: 0; }
    .portfolio__project__previewLink:hover, .portfolio__project__codeLink:hover {
      background-color: white;
      transition: .2s;
      color: rgba(20, 20, 20, 0.95); } }

@media (max-width: 1300px) {
  .intro__about, .intro__skillSet, .intro__contact {
    flex-basis: 85%; }
  .portfolio__project {
    flex-basis: 85%; } }

@media (max-width: 1300px) and (max-width: 850px) {
  .intro {
    padding: 1rem; }
    .intro__name__header {
      font-size: 2.5rem; }
    .intro__name__title {
      font-size: 1.6rem; }
    .intro__about, .intro__skillSet, .intro__contact {
      flex-basis: 100%;
      padding: 1.5rem; }
      .intro__about__header, .intro__skillSet__header, .intro__contact__header {
        width: 75%; }
    .intro__about__image {
      width: 15rem; }
    .intro__skillSet__subheader {
      font-size: 2.0rem; }
    .intro__skillSet__list {
      margin-top: 3rem; }
    .intro__skillSet__item {
      flex-basis: 15rem; }
    .intro__skillSet__icon {
      font-size: 5rem; }
    .intro__skillSet__text {
      padding: 2rem;
      font-size: 1.6rem; }
    .intro__contact__link {
      font-size: 1.4rem; }
    .intro__contact__icon {
      font-size: 5rem; }
    .intro__about__header, .intro__skillSet__header, .intro__contact__header {
      font-size: 2.5rem; }
    .intro__about__text {
      font-size: 1.6rem; }
  .portfolio {
    padding: 0; }
    .portfolio__project {
      margin: 1rem;
      flex-basis: 100%; }
      .portfolio__project__header {
        font-size: 2.7rem;
        visibility: hidden; }
      .portfolio__project__text {
        font-size: 2rem;
        visibility: hidden; }
      .portfolio__project__previewLink, .portfolio__project__codeLink {
        visibility: hidden; } }

@media (max-width: 1300px) {
  .backgroundToggler {
    background-color: rgba(20, 20, 20, 0.95); }
  .visibilityToggler {
    visibility: visible; } }
