@import 'variables';

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', Arial, sans-serif;
}


html {
   font-size: 62.5%;
}

::selection {
   background: #ccc;
}

.wrapper {
   display: flex;
   justify-content: flex-end;
   min-width: 32rem;
   background: url('../images/bg3.jpg') no-repeat left fixed;
   background-size: cover;
}

.intro {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   left: 2%;
   top: 0;
   min-height: 100vh;
   padding: 2rem;

   &__name {
      @include basicBoxStyle();
      padding: 1.5rem;
      box-shadow: none;
      text-align: center;
      text-transform: uppercase;

      &__header {
         margin-bottom: 1rem;
         font-size: 3rem;
         letter-spacing: .5rem;
      }

      &__title {
         font-size: 1.8rem;
         letter-spacing: .2rem;
      }
   }

   &__about,
   &__skillSet,
   &__contact {
      display: flex;
      flex-wrap: wrap;
      @include basicBoxStyle();
      width: 50rem;
      min-width: 30rem;
      height: 27rem;
      padding: 1rem;
      margin: .9rem;
      border: none;
      text-align: center;
      letter-spacing: .17rem;
   }

   &__about {
      align-items: center;
      justify-content: space-evenly;

      &__image {
         width: 38%;
      }

      &__content {
         flex-basis: 62%;
      }
   }

   &__skillSet {
      flex-direction: column;
      justify-content: space-evenly;
   }

   &__about__header,
   &__skillSet__header,
   &__contact__header {
      padding: 1rem 0 .2rem 0;
      font-size: 2.6rem;
      color: $white
   }

   &__contact__header {
      flex-basis: 100%
   }

   &__skillSet__subheader {
      padding: 1rem 0 0 0;
      font-size: 2rem;
   }

   &__about__text,
   &__skillSet__text,
   &__contact__text {
      padding: 1.5rem;
      font-size: 1.6rem;
   }

   &__contact__section {
      display: flex;
      align-items: center;
      flex-basis: 100%;
   }

   &__contact__link {
      margin: 0 1.5rem;
      font-size: 4rem;
      width: 5rem;
      color: $white;
      transition: .1s;

      &:hover {
         transform: scale(1.1);
         color: white;
      }
   }
}

.portfolio {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   flex-basis: 70vw;
   padding: 3rem;

   &__project {
      @include basicBoxStyle();
      position: relative;
      flex-basis: 80rem;
      min-width: 30rem;
      height: 40rem;
      margin: 0 1.5rem 3rem 1.5rem;
      border: none;
      text-align: center;

      &__A {
         background: url('../images/thumb1.jpg') no-repeat top;
         background-size: cover;
      }

      &__B {
         background: url('../images/thumb2.jpg') no-repeat top;
         background-size: cover;
      }

      &__C {
         background: url('../images/thumb3.jpg') no-repeat center;
         background-size: cover;
      }

      &__D {
         background: url('../images/thumb4.jpg') no-repeat top;
         background-size: cover;
      }

      &__E {
         background: url('../images/thumb5.jpg') no-repeat top;
         background-size: cover;
      }

      &__F {
         background: url('../images/thumb6.jpg') no-repeat top;
         background-size: cover;
      }

      &__background {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-evenly;
         align-items: center;
         position: absolute;
         width: 100%;
         height: 100%;
      }

      &__header {
         font-family: 'Special Elite', 'Monserrat', sans-serif;
         font-size: 4rem;
         color: black;
         text-align: center;
      }

      &__text {
         flex-basis: 75%;
         font-family: 'Special Elite', 'Monserrat', sans-serif;
         font-size: 2.5rem;
         color: black;
      }

      &__previewLink,
      &__codeLink {
         display: block;
         flex-basis: 35%;
         padding: 2.5rem 4rem;
         border: 2px solid $transparentBlack;
         background-color: transparent;
         font-family: 'Special Elite', 'Monserrat', sans-serif;
         font-size: 2.7rem;
         text-transform: lowercase;
         letter-spacing: .4rem;
         color: black;
         text-decoration: none;
      }
   }
}


@media (min-width: 850px) {
   .portfolio {
      &__project {
         &__background {
            transition: .5s;
         }

         &:hover &__background {
            background-color: $white;
         }

         &:hover &__header,
         &:hover &__text,
         &:hover &__previewLink,
         &:hover &__codeLink {
            opacity: 1;
         }

         &__header {
            transition: .7s;
            opacity: 0;
         }

         &__text {
            transition: .7s;
            opacity: 0;
         }

         &__previewLink,
         &__codeLink {
            transition: .7s;
            opacity: 0;

            &:hover {
               background-color: white;
               transition: .2s;
            }
         }
      }
   }
}

@media (max-height: 950px),
(max-width: 1550px) {

   .wrapper {
      flex-direction: column;
   }

   .intro {
      flex-direction: row;
      justify-content: space-evenly;
      position: relative;
      left: 0;
      top: 0;
      min-height: auto;
      padding: 1rem;

      &__name {
         flex-basis: 90vw;
         margin: 0 auto;
         text-align: center;
      }
   }

   .portfolio {
      flex-basis: auto;
   }
}

@media (max-width: 850px) {

   .intro {
      padding: .5rem;

      &__name {
         flex-basis: 95vw;
         padding: .5rem;

         &__header {
            font-size: 2.5rem;
            letter-spacing: .3rem;
         }

         &__title {
            font-size: 1.5rem;
            letter-spacing: .15rem;
         }
      }

      &__about,
      &__skillSet,
      &__contact {
         // width: 100%;
         // height: auto;
      }

      &__about__header,
      &__skillSet__header,
      &__contact__header {
         font-size: 2.2rem;
      }

      &__skillSet__subheader {
         padding: .5rem;
         font-size: 1.6rem;
      }

      &__about__text,
      &__skillSet__text,
      &__contact__text {
         padding: .5rem;
         font-size: 1.3rem;
      }

      &__contact__link {
         margin: 0;
         font-size: 3rem;
      }

      &__contact__text {
         padding: 0 0 0 .5rem;
         // word-break: break-all;
         font-size: 1.1rem;
      }
   }


   .portfolio {
      padding: .5rem;

      &__project {
         margin: 1rem .9rem;

         &__header {
            font-size: 2.5rem;
            visibility: hidden;
         }

         &__text {
            font-size: 1.7rem;
            visibility: hidden;
         }


         &__previewLink,
         &__codeLink {
            visibility: hidden;
            flex-basis: 65%;
            padding: 2rem 4rem;
            background-color: white;
         }
      }
   }
}

.backgroundToggler {
   background-color: $white;
}

.visibilityToggler {
   visibility: visible;
}