@import 'variables';

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', Arial, sans-serif;
}


html {
   font-size: 62.5%;
}

::selection {
   background: #ccc;
}

.wrapper {
   display: flex;
   justify-content: flex-end;
   background: url('/images/bg3.jpg') no-repeat left fixed;
   background-size: cover;
}

.intro {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   left: 5%;
   top: 0;
   min-height: 100vh;
   padding: 3rem;



   &__name {
      @include basicBoxStyle();
      padding: 1.5rem;
      box-shadow: none;
      text-align: center;
      text-transform: uppercase;

      &__header {
         margin-bottom: 1rem;
         font-size: 3rem;
         letter-spacing: .5rem;
      }

      &__title {
         font-size: 1.8rem;
         letter-spacing: .2rem;
      }
   }

   &__about,
   &__skillSet,
   &__contact {
      @include basicBoxStyle();
      width: 45rem;
      height: 23rem;
      padding: 1rem;
      margin: 1rem;
      border: none;
      text-align: center;
      letter-spacing: .17rem;
   }

   &__about__header,
   &__skillSet__header,
   &__contact__header {
      padding: 1rem 0 .2rem 0;
      font-size: 2.5rem;
      color: $white
   }

   &__skillSet__subheader {
      padding: 1rem 0 0 0;
      font-size: 1.8rem;
   }

   &__about__text,
   &__skillSet__text {
      padding: 1rem 0;
      font-size: 1.5rem;
   }


   &__contact__link {
      display: inline-block;
      padding: 2rem;
      font-size: 6rem;
      line-height: 10rem;
      color: $white;
   }
}

.portfolio {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   flex-basis: 70vw;
   padding: 3rem;

   &__project {
      @include basicBoxStyle();
      position: relative;
      flex-basis: 80rem;
      height: 40rem;
      margin: 0 1.5rem 3rem 1.5rem;
      border: none;
      text-align: center;

      &:hover &__background {
         background-color: $white;
      }

      &:hover &__header,
      &:hover &__text,
      &:hover &__previewButton,
      &:hover &__codeButton {
         opacity: 1;
      }

      &__background {
         position: absolute;
         width: 100%;
         height: 100%;
         transition: .3s;
      }

      &__A {
         background: url('/images/thumb1.jpg') no-repeat top;
         background-size: cover;
      }

      &__B {
         background: url('/images/thumb2.jpg') no-repeat top;
         background-size: cover;
      }

      &__C {
         background: url('/images/thumb3.jpg') no-repeat top;
         background-size: cover;
      }

      &__D {
         background: url('/images/thumb4.jpg') no-repeat top;
         background-size: cover;
      }

      &__E {
         background: url('/images/thumb5.jpg') no-repeat top;
         background-size: cover;
      }

      &__F {
         background: url('/images/thumb6.jpg') no-repeat top;
         background-size: cover;
      }

      &__header {
         position: absolute;
         top: 2%;
         left: 50%;
         width: 75%;
         transform: translateX(-50%);
         padding: .5rem;
         font-family: 'Special Elite', 'Monserrat', sans-serif;
         font-size: 4rem;
         color: black;
         text-align: center;
         opacity: 0;
         transition: .5s;
      }

      &__text {
         position: absolute;
         top: 20%;
         left: 50%;
         transform: translateX(-50%);
         font-family: 'Special Elite', 'Monserrat', sans-serif;
         font-size: 2.5rem;
         color: black;
         opacity: 0;
      }

      &__previewButton,
      &__codeButton {
         width: 32%;
         line-height: 7rem;
         border: 2px solid $transparentBlack;
         background-color: transparent;
         font-family: 'Special Elite', 'Monserrat', sans-serif;
         font-size: 2.7rem;
         text-transform: lowercase;
         letter-spacing: .4rem;
         opacity: 0;

         &:hover {
            background-color: white;
            transition: .3s;
         }

         &__link {
            display: block;
            padding: 0 2rem;
            font-family: 'Special Elite', 'Monserrat', sans-serif;
            color: black;
            text-decoration: none;
         }
      }

      &__previewButton {
         position: absolute;
         bottom: 8%;
         left: 30%;
         transform: translateX(-50%);
      }

      &__codeButton {
         position: absolute;
         bottom: 8%;
         right: 30%;
         transform: translateX(50%);
      }
   }
}

@media (max-height: 950px),
(max-width: 1550px) {

   .wrapper {
      flex-direction: column;
   }

   .intro {
      flex-direction: row;
      justify-content: space-evenly;
      position: relative;
      left: 0;
      top: 0;
      min-height: auto;
      padding: 1rem;

      &__name {
         flex-basis: 90vw;
         margin: 0 auto;
         text-align: center;
      }
   }
}

@media (max-width: 500px) {

   .intro {
      padding: .5rem;

      &__name {
         flex-basis: 95vw;
         width: 100%;
         padding: .5rem;

         &__header {
            font-size: 2rem;
            letter-spacing: .3rem;
         }

         &__title {
            font-size: 1.5rem;
            letter-spacing: .15rem;
         }
      }

      &__about,
      &__skillSet,
      &__contact {
         width: 100%;
         height: 23rem;
         letter-spacing: .17rem;
      }

      &__about__header,
      &__skillSet__header,
      &__contact__header {
         font-size: 2.2rem;

      }

      &__skillSet__subheader {
         padding: .5rem;
         font-size: 1.6rem;
      }

      &__about__text,
      &__skillSet__text,
      &__contact__text {
         padding: .5rem;
         font-size: 1.3rem;
      }
   }

   .portfolio__project {
      &__header {
         font-size: 2.5rem;
      }

      &__text {
         top: 25%;
         font-size: 2.2rem;
      }


      &__previewButton,
      &__codeButton {
         width: 75%;
         line-height: 8rem;
      }

      &__previewButton {
         bottom: 35%;
         left: 50%;
      }

      &__codeButton {
         right: 50%;
      }
   }
}